<div id="pb_${control.controlID}" style="#if($control.width != 0) width: ${control.width}px; #end #if($control.height != 0) height: ${control.height}px; #end">
	<div id="pb_msg_$control.controlID" class="j-progress-bar-label">
		$control.getInfoLabel()
	</div>
</div>