$control.updateSize()
#set($fldTop = $control.getField("top"))
#set($fldLeft = $control.getField("left"))
#set($id = "div_$control.controlID")
<input type="hidden" name="$fldTop.id" value="$fldTop.value">
<input type="hidden" name="$fldLeft.id" value="$fldLeft.value">
<div id="$id" style="overflow: auto; width: $control.width; height: $control.height" onscroll="document.forms['jwicform'].elements['$fldTop.id'].value=this.scrollTop;document.forms['jwicform'].elements['$fldLeft.id'].value=this.scrollLeft;">$content.render()</div>
