<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<!--  - Application context definition for "springapp" DispatcherServlet.  -->
<beans>    

	<!-- Define jWic's controller that handles all jWic based requests -->
	<bean id="jwicController" class="de.jwic.spring.JWicSpringController"/>
	
	<!-- Map all .xwic applications to the jWic controller. Note that the configuration
	   - is loaded from the context, not from a file!
	  -->
	<bean id="urlMapping" class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
		<property name="mappings">
            <props>                
            	<prop key="/sample/controldemo.xwic">jwicController</prop>
            	<prop key="/sample/filebrowser.xwic">jwicController</prop>            	
            </props>
        </property>
	</bean>
	
	
	<!-- Specify the FileBrowser application, using the IocApplicationSetup method -->
	<bean 
		id="filebrowser.xwic.application" 
		class="de.jwic.samples.filebrowser.FileBrowserDemo"
		singleton="false">
			<property name="title"><value>File Browser Demo initialized with spring</value></property>
	</bean>
	<bean id="filebrowser.xwic" class="de.jwic.spring.IocApplicationSetup" singleton="false">
		<property name="name">
			<value>filebrowser</value>
		</property>
		<property name="application">
			<ref bean="filebrowser.xwic.application" />
		</property>
		<property name="singleSession">
			<value>true</value>
		</property>
	</bean>

	<!-- Specify the controldemo application, using the ApplicationSetupBean -->
	<bean id="controldemo.xwic" class="de.jwic.base.ApplicationSetupBean">
		<property name="name">
			<value>ControlDemo</value>
		</property>
		<property name="classname">
			<value>de.jwic.samples.controls.ControlDemoApplication</value>
		</property>
		<property name="singleSession">
			<value>true</value>
		</property>
	</bean>
	
	<!-- Initializes the jWicRuntime -->
	<bean id="jwicRuntime" class="de.jwic.spring.JWicRuntimeFactoryBean">
		<property name="webRootProperty"><value>jwic.spring.root</value></property>
	</bean>
	
</beans>
