<h3>Column Selector Demo</h3>

<p>You can change the visibility of columns with the checkbox and their order by simply dragging them.</p>

<div style="padding: 30px;">
$insert.control("selector")
</div>

<br>
$insert.control("result")