<div style="padding-bottom: 5px;">
<span style="font-size: 12px; font-weight: bold;">Page #${control.pageNumber}</span>  ($insert.control("btRemove"))
<table>
	<colgroup>
		<col width="135px"/>
	</colgroup>
	<tr>
		<td>Page Classname</td>
		<td>$insert.control("ibClassName")</td>
	</tr>
	<tr>
		<td>Title</td>
		<td>$insert.control("ibTitle")</td>
	</tr>
	<tr>
		<td>Subtitle</td>
		<td>$insert.control("ibSubtitle")</td>
	</tr>
</table>	
</div>