Files:<br>
$insert.control("fileSelector")

File Content:<br>
$insert.control("fileViewer")

<p>You can now copy & paste the content into your IDE. Maybe in a later version we will offer a download of the 
whole as a ZIP file, but no more time right now for this feature ;-)</p>