<div style="padding: 10px;">
Files:<br>
$insert.control("fileSelector")

<br>
<div style="width: 99%; border: 1px solid #808080;">
$insert.control("fileViewer")
</div>

<p>You can now copy & paste the content into your IDE. Maybe in a later version we will offer a download of the 
whole as a ZIP file, but no more time right now for this feature ;-)</p>

</div>