<div style="margin: 10px;">
	<table>
		<tr>
			<td>Wizard Title</td>
			<td>$insert.control("ibTitle")</td>
		</tr>
		<tr>
			<td>Package</td>
			<td>$insert.control("ibPackage")</td>
		</tr>
		<tr>
			<td>Wizard Class</td>
			<td>$insert.control("ibWizardClass")</td>
		</tr>
		<tr>
			<td>Model Class</td>
			<td>$insert.control("ibModelClass")</td>
		</tr>
		<tr>
			<td>Dimensions</td>
			<td>$insert.control("lbWidth") x $insert.control("lbHeight") Pixel</td>
		</tr>
	</table>
</div>