# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
target/
target-ide/
target-test/
.target-mvn/

#project specific
logs/
*.log
*.log.*
sessions/
*/_dist/*
*/bin/*
