#set($field = $control.getField("value"))
<input type="hidden" id="chkVal_$field.id" name="$field.id" value="$jwic.formatInp($field.value)">

<div class="ui-checkbox #if($control.mini) ui-mini #end">
	<label for="$control.controlID" class="ui-btn ui-btn-inherit #if ( $field.value == "1" ) ui-checkbox-on #else ui-checkbox-off #end" #if($control.infoText) title="$jwic.formatInp($control.infoText)" #end>#if($control.label)$jwic.formatHtml($control.label) #end</label>
	<input data-enhanced="true" id="$control.controlID" type="checkbox" name="chk_${field.id}" value="1" #if ( $field.value == "1" ) checked #end #if ( !$control.isEnabled()) disabled #end>
</div>