#set($field = $control.getField("value"))
<input type="hidden" id="chkVal_$field.id" name="$field.id" value="$jwic.formatInp($field.value)">
<fieldset>
  <div data-role="fieldcontain">
    #if($control.label) <label for="$control.controlID">$control.label</label> #end
    <input type="checkbox" id="$control.controlID" data-role="flipswitch" value="1" #if ( $field.value == "1" ) checked #end #if ( !$control.isEnabled()) disabled #end>
  </div>
</fieldset>