<div data-role="page" id="$control.name" class="ui-page ui-page-theme-a ui-page-active" style="overflow:auto;">
    <div data-role="header">
        <h1>$control.text</h1>
        $insert.control('header')
    </div>
    <div data-role="content">
        $content.render()
    </div>
</div>

