<a id="btn" data-role="button" data-icon="bars" data-inline="true" data-iconpos="notext" class="ui-btn-left" #if(!$control.enabled) disabled #end onclick="return false;">$!control.title</a>
<div id="panel">
    $content.render()
</div>

