<div id="pi_$control.controlID" class="progressInfo">
  <div id="pi_label_$control.controlID" class="progressInfoLabel">&nbsp;</div>
  <div id="pi_values_$control.controlID" class="progressInfoValues"></div>
  <div id="pi_progress_$control.controlID" class="progressInfoBar">
  	<div id="pi_progressbar_$control.controlID" class="progressBar"></div>
  </div>
</div>