<table width="100%">
	<tr>
		<td>$control.message</td>
	</tr>
	<tr>
		<td align="right"><br>$control.stepInfo</td>
	</tr>
#if($control.getControl("progBar").monitor.maximum != 0) 
	<tr>
		<td>$insert.control("progBar")</td>
	</tr>
#end
</table>

<script>
	window.setTimeout("jWic().fireAction('$control.controlID', 'update', '')", 1000);
</script>