<div lazyTooltipProvider="$control.tooltipProvider" lazyTooltipId="$control.message" lazyTooltipDelay="1000" style="background: #102372; color:white; float:left; padding: 10px;margin-right:10px">
	${control.number}th blue box
</div>

