
#set($field = $control.getField("chartContent"))
<div id="$control.controlID" style="width:${control.getLocalChartConfiguration().height}; height: ${control.getLocalChartConfiguration().width}">
<canvas id="chart" height="${control.getLocalChartConfiguration().height}px" width="${control.getLocalChartConfiguration().getWidth()}px"></canvas>
</div>