<div class="chartdb-page">
	<div class="chartdb-filter">
		$insert.control("filter")
	</div>
	<div class="chartdb-content">
		$insert.control("totalUser")
		$insert.control("userType")
		$insert.control("monthUserType")
	</div>
</div>
