<div class="chartdb-view j-group">
	<div class="chartdb-title j-group-header ui-widget ui-corner-top ui-state-default">
		$!control.title
	</div>
	<div class="chartdb-chart j-group-content ui-widget ui-corner-all ui-widget-content">
		$insert.control($control.chart.name)
	</div>
</div>