<div style="width:${control.width}px" class="mailClient">
	<div>$insert.control("abar")</div>
	<div class="clearfix">
		<div style="float:left; width:250px; clear:left;">$insert.control("leftStack")</div>
		<div style="float:right; clear:right;">$insert.control("mainView")</div>
	</div>
</div>
