<div style="width: 390px; padding: 10px;">
 <p>$insert.control("lblMessage")</p>
 <p>$insert.control("input")</p> 
 <p align="center">
 $insert.control("btOk")  $insert.control("btAbort")
 </p>
</div>
 
 