<table>
 <tr>
  <td>
Combine $insert.control("lbLeft") with $insert.control("lbRight") 
using a precision of $insert.control("lbPrecision")
  </td>
  <td>$insert.control("btGroup")</td>
 </tr>
</table>