<table>
	<tr>
		<td><img src="$jwic.linkResource($control.sessionContext.application, "jwic_logo.gif")"></td>
		<td><h3>Sample #2</h3></td>
	</tr>
</table>
<br>

Value: $insert.control("label")<br>
$insert.control("btInc") $insert.control("btDec")