/** Default Theme */

/**
 * Toolbar Button on hover
 */
div.j-toolbar button.ui-state-hover {
	border: 1px solid #067be0; 
	background: #75c0ff url(../jQuery/images/ui-bg_flat_75_75c0ff_40x100.png) 50% 50% repeat-x;
	font-weight: normal; 
	color: #212121;
}

#click_blocker_message {
	overflow: auto;
	display: none; 
	top: 0px; 
	left: 0px; 
	z-index: 9001; 
	position: absolute;
}

#click_blocker_message div.loadingIcon {
	background-image: url("../jWic/images/loading3.gif");
	width: 35px;
	height: 35px;
}

div.loadingIconAsync {
	background-image: url("../jWic/images/loading3.gif");
	background-repeat: no-repeat;
	background-position: left; 
	width: 100%;
	height: 35px;
}