<h3>JFreeChart Demo</h3>

<p>This control uses <a href="http://www.jfree.org/jfreechart" target="_blank">JFreeChart</a> to generate charts as a PNG image.</p>

$insert.control("chart")

<hr>
<table>
	<tr>
		<td width="120">Chart</td>
		<td>$insert.control("lbType")</td>
	</tr>
	<tr>
		<td>Width</td>
		<td>$insert.control("lbWidth")</td>
	</tr>
	<tr>
		<td>Height</td>
		<td>$insert.control("lbHeight")</td>
	</tr>
</table>