<h3>Dialogs Demo</h3>
<table border="0" cellspacing="5" cellpadding="5" width="100%">
 <tr>
  <td height="50">  
	Select the dialog to display: 
	<li>$insert.control("btMsg")
	<li>$insert.control("btInp")
	<li>$insert.control("btDlg")
	<li>$insert.control("btDlgModal")	
  </td>
 </tr>
</table>
<hr>
Event Log:<br>
$insert.control("events")

	$insert.control("divPopup")