<div style="margin: 20px auto; border: 1px solid #808080; width: 400px">
$insert.control("notifyer")

Do you want to let me know how old you are?

<table cellspacing="5">
	<tr>
		<td>Your Name</td>
		<td>$insert.control("inpName")</td>
	</tr>
	<tr>
		<td>Your Age</td>
		<td>$insert.control("inpAge")</td>
	</tr>
	<tr>
		<td></td>
		<td>$insert.control("btOk")</td>
	</tr>
</table>
</div>