<div style="margin-left: 10px;" >
<table>
	<tr>
		<th>Date Time Picker:</th>
		<td>$insert.control("dtInstallationDate")</td>
	</tr>
	<tr>
		<th>Date Time Picker from/to:</th>
		<td>$insert.control("cmbTimeZone")</td>
	</tr>
</table>
</div>
