<table width="100%" cellspacing="0" class="tbl" cellpadding="1">
	<tr>
		<th><a href="$control.createActionURL("sort", "name")">Name</a></th>
		<th width="80"><a href="$control.createActionURL("sort", "size")">Size</a></th>
		<th width="150">Type</th>
		<th width="150"><a href="$control.createActionURL("sort", "lm")">Last Modified</a></th>
	</tr>
</table>
$insert.control("list")