Current Value: 
<table>
	<tr>
		<td width="200">
			$insert.control("inpHtmlColor")
		</td>
		<td width="200">
			$insert.control("visualizer")
		</td>
	</tr>
</table>


<br>
$insert.control("chRed")
$insert.control("chGreen")
$insert.control("chBlue")
