<p>
	This group contains a few simple controls that are added using a TableLayoutContainer. The layout
	of the group content can be modified by specifying a template name. The border of the group is
	defined in the outer-template name of the GroupControl
</p>
$insert.control("table")