
<table cellspacing="0" cellpadding="0" width="100%">
	<tr>
		<td valign="top" width="50%">
			
			$insert.control("group1")

		</td>
		<td valign="top" width="50%">
			 <table border="0">
			 	<tr>
			 		<td>Width:</td>
					<td>$insert.control("lbWidth")</td>
			 	</tr>
			 	<tr>
			 		<td>Height:</td>
					<td>$insert.control("lbHeight")</td>
			 	</tr>
			 	<tr>
			 		<td></td>
					<td>$insert.control("btVisibility")</td>
			 	</tr>
			</table>
		</td>
	</tr>
</table>
