<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<!-- jWic Application '$context.applicationSetup.name' | http://www.jwic.de -->
<html>
<head>
	<title>#if($page.title)$page.title#else $page.name#end</title>
	<META http-equiv="Cache-Control" content="no-cache">
	<META http-equiv="Pragma" content="no-cache">
	<META http-equiv="Expires" content="-1">
	<META http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script src="$contextPath/jwic/lib/jQuery/js/jquery-1.8.2.js"></script>
    <script src="$contextPath/jwic/lib/jQuery/js/jquery-ui-1.9.1.custom.js"></script> 
    <script src="$contextPath/jwic/lib/jQuery/js/autoNumeric.js"></script>
	<script language="JavaScript">
		var _contextPath = "$contextPath";
		var _ajaxMode = $context.applicationSetup.useAjaxRendering;
		jQuery.noConflict();
		
		var JQryEscape = function (str){
			return str.replace(/([;&,\.\+\*\~':"\!\^#$%@\[\]\(\)=>\|])/g, '\\$1');
		};		
		
	</script>

#* prototype js library - tool library required by jWic 4.x *#	
	##<SCRIPT LANGUAGE="JavaScript" SRC="$contextPath/jwic/lib/prototype.js"></SCRIPT>
	##<SCRIPT LANGUAGE="JavaScript" SRC="$contextPath/jwic/lib/scriptaculous.js"></SCRIPT>
	##<SCRIPT LANGUAGE="JavaScript" SRC="$contextPath/jwic/lib/prototype_1.7.js"></SCRIPT>
	##<SCRIPT LANGUAGE="JavaScript" SRC="$contextPath/jwic/lib/scriptaculous_1.9/scriptaculous.js"></SCRIPT>
#* Prototype Window Class Library *#
	##<SCRIPT LANGUAGE="JavaScript" SRC="$contextPath/jwic/lib/window.js"></SCRIPT>
	<SCRIPT LANGUAGE="JavaScript" SRC="$contextPath/jwic/calendar/calendar.js"></SCRIPT>
	<SCRIPT LANGUAGE="JavaScript" SRC="$contextPath/jwic/jwic_core.js"></SCRIPT>
	<SCRIPT LANGUAGE="JavaScript" SRC="$contextPath/jwic/jwic_controls.js"></SCRIPT>
	<SCRIPT LANGUAGE="JavaScript" SRC="$contextPath/jwic/jwic_compatibility.js"></SCRIPT>
		
	<!-- <link rel="stylesheet" type="text/css" href="$contextPath/jwic/jwic.css"> -->
	<link rel="stylesheet" type="text/css" href="$contextPath/jwic/jwic_compatibility.css">	
	<link rel="stylesheet" type="text/css" href="$contextPath/jwic/jwic_default.css">	
	<link rel="stylesheet" type="text/css" href="$contextPath/jwic/lib/themes/default.css">
	<link rel="stylesheet" type="text/css" href="$contextPath/jwic/lib/themes/jwicdefault.css">		
	<link rel="stylesheet" type="text/css" href="$contextPath/jwic/lib/themes/j-combo.css">		
	<link rel="stylesheet" type="text/css" href="$contextPath/jwic/lib/themes/alphacube.css">	
	<link rel="stylesheet" type="text/css" href="$contextPath/jwic/lib/jQuery/css/custom-theme/jquery-ui-1.9.1.custom.css">
	<link rel="stylesheet" type="text/css" href="$contextPath/jwic/lib/jQuery/css/custom-theme/jquery_default_changes.css">
	<SCRIPT LANGUAGE="JavaScript" SRC="$contextPath/jwic/calendar/calendar_localize_${page.getSessionContext().getLocale().getLanguage().toUpperCase()}.js"></SCRIPT>	
	