 body.pwait {
 	margin: 0px;
 	background-color: #FFFFFF;
 	text-align: center;
 }
 p.pwait {
 	color: #000000; 
 	font-size: 12pt; 
 	font-weight: bold; 
 	border: 1px solid #000000;
 	text-align: center;
 	font-family: Sans-Serif, Arial;
 	width: 68px; 
 	height: 48px;
 	padding-top: 5px;
 	margin: 0px;
 	overflow: visible;
 }