#set($fld = $control.getField("content"))
<input id="${control.controlID}_content" type="hidden" name="$fld.getId()" value="">
<div id="$control.controlID" class="ckEditor" style="width: ${control.width}px; height: ${control.height}px;"></div>