 body	{ font-family: Verdana,Helvetica; font-size: 10pt; background-color: #ffffff }

a {
	color: #0000A0;
}
a:visited {
	color: #0000B0;
}

table.sv_navigator td {
	font-size: 8pt;
}

table.sv_navigator a {
	text-decoration: none;
}

table.sv_navigator a:hover {
	text-decoration: underline;
}

table.mainBorder {
	border: 1px solid #000000;
}

table.mainBorder tr.topBar {
	border-bottom: 1px solid #808080;
	background-color: #E0E0E0;
}


table.mainBorder td.navCell {
	border-right: 1px solid #808080;
}

code {
	font-size: 9pt;
}

div.viewerTitle {
	background-color: #F0F0F0;
	border-bottom: 1px solid #808080;
	height: 40px;
}

table.elementInfo td.title {
	font-size: 14pt;
	/*font-weight: bold; */
	font-style: italic;
}
table.elementInfo td.small {
	font-size: 8pt;
}

h4 {
	font-weight: normal;
	font-size: 11pt;
	font-style: italic;
}

p.pdesc {
	color: #000060;
}

table.folderlist a {
	text-decoration: none;
}
table.folderlist a:hover {
	text-decoration: underline;
}

p.footer {
	font-size: 8pt;
}

select.small {
	font-size: 8pt;
}

div.viewer {
	margin: 5px;
}
div.viewer p {
	margin-bottom: 5px;
}


/*
 * Override default jwic styles.
 */
 
   /* ActionBar */
 table.action td.action_left {
 	border-left: 1px solid #E0E0E0;
 	border-top: 1px solid #E0E0E0;
 	border-bottom: 1px solid #E0E0E0;
 }
 table.action td.action_right {
 	border-right: 1px solid #E0E0E0;
 	border-top: 1px solid #E0E0E0;
 	border-bottom: 1px solid #E0E0E0;
 }
 table.action td.action_middle {
 	border-top: 1px solid #E0E0E0;
 	border-bottom: 1px solid #E0E0E0;
 	font-size: 8pt;
 	font-family: Arial, Sans-Serif;
 }
 table.actionDis td.action_left {
 	border-left: 1px solid #E0E0E0;
 	border-top: 1px solid #E0E0E0;
 	border-bottom: 1px solid #E0E0E0;
 }
 table.actionDis td.action_right {
 	border-right: 1px solid #E0E0E0;
 	border-top: 1px solid #E0E0E0;
 	border-bottom: 1px solid #E0E0E0;
 }
 table.actionDis td.action_middle {
 	border-top: 1px solid #E0E0E0;
 	border-bottom: 1px solid #E0E0E0;
 	font-size: 8pt;
 	font-family: Arial, Sans-Serif;
 	color: #606060;
 }
 