$insert.control("sg")
<br/>
<table>
	<tr>
		<th align="left">Selection Data</th>
		<th align="left">Edit Data</th>
	</tr>
	<tr>
		<th>$insert.control("ibSelectionData")</th>
		<th>$insert.control("ibEditData")</th>
		<th valign="top">
			$insert.control("btSubmitChanges")
			$insert.control("btDummy")
		</th>
	</tr>
</table>