/** This file contains default css styles for common ecolib controls */

/* StackPanelControl styles */

.stackpanel{
	border-style: solid;
	border-width: 1px;
	border-color: black;
	border-collapse: collapse;
}
.stackpanel-item{
	width: 100%;
}
.stackpanel-item-header{
	font-weight: bold;
	background-color: #CCCCCC;
	text-align: center;
	cursor: hand;
}
.stackpanel-item-content{
	padding-left: 10px;
}


table.errorMessage {
	background-color: #FF0000;
}

table.warningMessage {
	background-color: #FFFFB0;
}

/* CKEditor Layout */
div.ckEditor {
	border: 1px solid #808080;
	background-color: #ffffff;
}
	
/* Column Selector */
div.j-listColSel {
		overflow: scroll;
		border: 1px solid #A0A0A0;
		background-color: #F0F0F0;
		position: relative;
	}
div.j-listColSel div.j-colRow {
		cursor: move;
		border-bottom: 1px dashed #D0D0D0;
		padding: 3px;
		background-color: #ffffff;
	}
div.j-listColSel div.j-colRow:hover {
		background-color: #DBFFF3;
		background: url(colselector/selhover.png);
		background-repeat: repeat-x;
}

div.j-listColSel div.j-colRowTitle {
		padding-left: 3px;
		font-weight: bold;
		user-select: none;
	}
div.j-listColSel div.j-colRowDesc {
		padding-top: 7px;
		padding-left: 30px;
		padding-bottom: 2px;
		font-size: 8pt;
		color: #808080;
		user-select: none;
	}
div.j-listColSel_actions {
	background-color: #F0F0F0;
	background: url(colselector/fade.png);
	border-top: 1px solid #A0A0A0;
	border-left: 1px solid #A0A0A0;
	border-right: 1px solid #A0A0A0;
}
div.j-listColSel_actions div.j-colAction {
	float: left;
	font-size: 8pt;
	padding: 5px 15px 0px 5px;
}
div.j-listColSel_actions div.j-colAction a {
	color: #000000;
	text-decoration: none;
}
div.j-listColSel_actions div.j-colAction a:hover {
	color: #3FA8FF;
	text-decoration: none;
}


div.j-listColSel_actions div.j-colAction img {
	vertical-align: middle;
}


/** Toolbar Style */
div.j-toolbar {
	border: 1px solid #A0A0A0;
	background: url(images/fade-gray.png);
	background-repeat: repeat-x;
	background-color: #CECECE;
	width: 100%;
	overflow: hidden;
}

div.j-toolbar div.j-toolbar-elm {
	float: left;
	margin-left: 3px;
	margin-top: 3px;
	margin-bottom: 2px;
}

div.j-toolbar div.j-spacer {
	width: 1px;
	height: 23px;
	border-left: 1px solid #F0F0F0;
	background-color: #A0A0A0;
	margin-left: 2px;
	margin-right: 3px;
}

span.j-toolbar-label {
	font-size: 8pt;
	margin-top: 4px;
	float: left;
	color: #707070;
}
div.j-toolbar-grp-left {
	float: left;
}
div.j-toolbar-grp-right {
	float: right;
}


/** ProgressInfo Control */
div.progressInfo {
	width: 400px;
	height: 100px;
	background-color: #F0F0F0;
	border: 1px solid #808080;
}
div.progressInfoLabel {
	margin-left: 8px;
	margin-top: 5px;
	font-size: 10pt;
	height: 30px;
}
div.progressInfoValues {
	margin-top: 15px;
	font-size: 8pt;
	text-align: right;
	height: 15px;
	margin-right: 5px;
}
div.progressInfoBar {
	margin-top: 0px;
	margin-left: 5px;
	margin-right: 5px;
	height: 18px;
	padding: 1px;
	border: 1px solid #A0A0A0;
	background-color: #ffffff;
}
div.progressBar {
	margin-top: 1px;
	margin-left: 1px;
	margin-right: 1px;
	height: 16px;
	border: 0px;
	background-color: #E0E0E0;
}
div.progressBarActive {
	margin-top: 1px;
	margin-left: 1px;
	margin-right: 1px;
	height: 16px;
	border: 0px;
	background-color: #0000FF;
	background-image: url(images/progbar.png);
}

.smallIcon {
	display:block;
	float:left;
	clear:left;
	background-repeat: no-repeat;
	background-position: left center;
	width:20px;
	height:20px;	
}

.datePickerControl {
	width: 80px;
}