<div id="$control.controlID" style="display:none; background-color: #3030FF; color: #ffffff; padding: 5px; width: $!{control.width}px; height: $!{control.height}px; border: 1px solid #808080;">
	<span id="text_$control.controlID">$control.someString</span>
</div>