<div id="$control.controlID" role="main" class="ui-content" style="margin: 0em;">
	<ul data-role="listview" class="ui-listview" style="margin: 0em;">
		#foreach($element in $control.elements)
		<li #if($foreach.index==0)class="ui-first-child" #elseif(!$foreach.hasNext) class="ui-last-child" #else #end><a href="#" class="ui-btn ui-btn-icon-right ui-icon-$control.icon.code">$element.key</a></li>
		#end
	</ul>
</div>