<table data-role="table" data-mode="columntoggle" class="tblViewStatusBar">
  <tr>
  	<td>$insert.control("mpaging")</td>
  	<td style="padding-top:0px;">$insert.control("mlbcMaxLines")</td>
  </tr>
</table>