<div style="width: 405px; height: 500px; overflow: auto; float: right; border: 1px solid #000; background-color: #fff;">
$insert.control("propEditor")
</div>

<div style="margin-left: 10px;" >$insert.control("button")<br>
	<br>
	$insert.control("button2")<br>
	<br>
	$insert.control("button3")<br>
	<br>
	<br>
	<br>
</div>
<div style="border: 1px solid #A0A0A0; padding: 10px; width: 600px;">
	$insert.control("lblInfo")
</div>
