<table>
	<tr>
		<td></td>
		<td>$insert.control("inpValue1")</td>
	</tr>
	<tr>
		<td>$insert.control("lbOp")</td>
		<td>$insert.control("inpValue2")</td>
	</tr>
		<tr>
			<td colspan="2"><hr></td>
	<tr>
		<td>=</td>
		<td>$insert.control("inpResult")</td>
		<td>$insert.control("btCalculate")</td>
	</tr>
</table>