<div style="width: 405px; height: 500px; overflow: auto; float: right; border: 1px solid #000; background-color: #fff;">
$insert.control("propEditor")
</div>



<div style="height: 200px;">
$insert.control("checkbox")
</div>



<table>
	<tr>
		<th>Title</th>
		<th>Key</th>
	</tr>
	<tr>
		<td>$insert.control("title")</td>
		<td>$insert.control("key")</td>
		<td>$insert.control("btAdd") $insert.control("btRemove") $insert.control("btClear")</td>
	</tr>
</table>

