<table border="0" cellspacing="5" cellpadding="5" width="100%">
 <tr>
  <td height="50">
<table border="0">
	<tr>
		<td>$insert.control("label")</td>
	</tr>
</table>
  </td>
 </tr>
</table>
<hr>
<table>
	<tr>
		<td>Text:</td>
		<td>$insert.control("text") $insert.control("btApply")</td>
	</tr>
	<tr>
		<td>Visibility:</td>
		<td>$insert.control("btVisible")</td>
	</tr>
</table>
