<table width="100%" cellspacing="0" cellpadding="0">
	<tr>
		<td valign="top">
			$insert.control("tabStrip")
		</td>
		<td width="250" valign="top">
			
			<ul class="demo_debug_actions">
				<li>$insert.control("btActivateFirstTab")</li>
				<li>$insert.control("btActivate2ndTab")</li>
				<li>$insert.control("btAddTab")</li>
			</ul>
			
		</td>
	</tr>
</table>




