<table width="$control.width" cellspacing="0" cellpadding="0" align="center" class="mailClient">
 <tr>
  <td colspan="2">$insert.control("abar")</td>
 </tr>
 <tr>
  <td width="200" valign="top">$insert.control("leftStack")</td>
  <td valign="top">$insert.control("mainView")</td>
 </tr>
</table>
