<table width="100%">
 <tr>
  <td width="36"><img src="img/jlogo32.gif"></td>
  <td><span style="font-size: 14pt;">TableViewer Demo Application</span></td>
 </tr>
</table>
<hr>
<p>This simple application is intended to demonstrate the basic operations that can be made with a TableViewer object. Press OK to continue.</p>
<br><br>
<p align=center>$insert.control("btOk")</p> 
<hr>