<h3>Menu Demo</h3>
<table border="0" cellspacing="5" cellpadding="5" width="100%">
 <tr>
  <td height="50" width="50%">  
	$insert.control("horizMenu")
  </td>
  <td height="50" width="50%">  
	$insert.control("vertMenu")
  </td>
 </tr>

</table>
<div style="height: 50px;">&nbsp;</div>
