#set($fld = $control.getField("changes"))
<input id="${control.controlID}_changes" type="hidden" name="$fld.getId()" value="">

<div id="${control.controlID}_thegrid" style="width:${control.width}px; height: ${control.height}px; border: 1px solid #c0c0c0"></div>

<style>
	.test1 {
		color: red;
	}
	.test2 {
		color: blue;
	}
</style>