 body	{ font-family: Verdana,Helvetica; font-size: 10pt; background-color: #ffffff }

 
 /** logonbox */
 div.logonbox {
	 width: 270px; border: 1px solid #000000; text-align: left;
	 margin-left: auto; margin-right: auto;
 }
 div.logonbox div.title {
 	width: 262px; padding: 4px; 
 	border-bottom: 1px solid #808080; 
 	background-color: #202080; color: #ffffff;
 	font-weight: bold;
 }
 div.logonbox div.body {
	 width: 262px; 
	 padding: 4px;
 }
 
 /** the main client */
 .mailClient {
 	border: 1px solid #808080;
 }
 
 div.previewTitleBar {
 	background-color: #D0D0D0;
	border-bottom: 1px solid #B0B0B0;
 }
 
 table.mailInfo th {
 	text-align: left;
 	font-size: 8pt;
 }
 table.mailInfo td {
 	font-size: 8pt;
 }

 p.mailText {
 	font-family: Courier New, Courier;
 	font-size: 10pt;
 	margin: 10px;
 }

 /** override some default styles */
 table.stackpanel {
 	border-left: 0px;
 	border-top: 0px;
 	border-bottom: 0px;
 	border-right: 1px solid #808080;
 }
 
 td.e_dsk_bar {
 	border-bottom: 1px solid #C0C0C0;
 }
 
 /**
  * Custom TableViewer CSS
  */
  
 table.tblViewerNB {
 	/* background-color: threedlightshadow; */
 	font-size: 8pt;
 }

 table.tblViewerNB select {
 	font-size: 8pt;
 }

 table.tblViewerNB div.tblContent {
 	/*border: 1px solid threedshadow; */
 	/*background-color: window;*/
 }
 table.tblViewerNB table.tblData {
 	background-color: threedlightshadow;
 	font-size: 8pt;
 	border-collapse: seperate;
 	table-layout: fixed;
 }

 table.tblViewerNB table.tblData th {
 	text-align: left;
 	background-color: threedface;
 	color: buttontext;
 	border-top: 1px solid threedhighlight;
 	border-left: 1px solid threedhighlight;
 	border-bottom: 1px solid threedshadow;
 	border-right: 1px solid threedshadow; 	
 	padding: 0px;
 	height: 18px;
 }

 table.tblViewerNB table.tblData th.pushed {
 	border-bottom: 1px solid threedhighlight;
 	border-right: 1px solid threedhighlight;
 	border-top: 1px solid threedshadow;
 	border-left: 1px solid threedshadow; 	
 }

 table.tblViewerNB table.tblData td {
 	background-color: window;
 	color: windowtext;
 	font-size: 8pt;
 	border-top: 1px solid window;
 	border-left: 1px solid window; 	
 	border-bottom: 1px solid threedlightshadow;
 	border-right: 1px solid threedlightshadow; 	
 	white-space: nowrap;
 	cursor: default;
 	overflow: hidden;
 	padding: 1px 0px;
 } 
 
 table.tblViewerNB table.tblData table.inner td {
 	background-color: transparent;
 	border: 0px;
 	padding: 0px;
 	margin: 0px;
 }  
 table.tblViewerNB table.tblData tr.lastRow td {
	border-bottom: 0px solid threedlightshadow;
 } 

 table.tblViewerNB table.tblData tr.selected td {
 	background-color: highlight;
 	color: highlighttext;
 } 
 table.tblViewerNB table.tblData tr.lastRowselected td {
 	background-color: highlight;
 	color: highlighttext;
	border-bottom: 0px solid threedlightshadow;
 } 
  
 table.inboxtree td {
 	font-size: 8pt;
 }
 table.inboxtree a {
 	text-decoration: none;
 }
 table.inboxtree a:hover {
 	text-decoration: underline;
 }
 
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}