<div style="width: ${control.width}px; height: ${control.listHeight}px;">
	$insert.control("mailList")
</div>
<div class="previewTitleBar" style="width: ${control.width}px; height: 40px;">
	$insert.control("mailInfo")
</div>
<div style="width: ${control.width}px; height: ${control.previewHeight}px;">
	$insert.control("preview")
</div>