<h3>Window</h3>

<table width="100%" cellspacing="0" cellpadding="0">
 <tr>
  <td width="350">
<div style="width: 350px; height: 400px; overflow: auto; float: left; border: 1px solid #000; background-color: #fff;">
$insert.control("propEditor")
</div>
  </td>
  <td valign="top">
	<div style="margin-left: 10px;" >$insert.control("control")</div>
  </td>
 </tr>
</table>
