<div style="margin: 5px;">
<p>Hello and welcome to this little window. The window is used to group elements
on a page, providing a common border. It is a very simple implementation, with
a basic layout.</p>
<p>The window is itself a control container, which means that it can contain any
control or control group.</p>
<p>$insert.control("group")</p>
</div>