<div style="width: 405px; height: 500px; overflow: auto; float: right; border: 1px solid #000; background-color: #fff;">
$insert.control("propEditor")
</div>
<h3>Tree</h3>

<div style="margin-left: 10px;" >$insert.control("tree")<br>
	<br>
</div>
<div style="background-color: #ffffff; border: 1px solid #A0A0A0; padding: 10px; width: 600px;">
	$insert.control("lblInfo")
</div>
