<div style="width: 405px; height: 500px; overflow: auto; float: right; border: 1px solid #000; background-color: #fff;">
$insert.control("propEditor")
</div>

<h3>InputBoxControl</h3>

<div style="margin-left: 10px;" >$insert.control("inputbox")
	$insert.control("Button")


</div>


<div style="margin-left: 10px;" >$insert.control("numbers") </div>
